<div class="container">
    <div class="row ">
        <div class="col-2 border border-dark text-center"><img src="logo.png" style="height: 100px;"
                class="img-rounded mx-auto"></div>
        <div class="col-10 border border-dark text-center align-bottom">
            <h3 class="pt-4">Termékek </h3>
        </div>
    </div>
    <div class="row" style="height: 500px;">
        <div class="col-2 border border-dark">
            <ul class="nav flex-column">
                <li class="nav-item">
                   {{#if stocks}}  <a class="nav-link" href="http://localhost:3000/stocks">Készletek</a> {{else}} <a class="nav-link text-dark" href="http://localhost:3000/stocks">Készletek</a> {{/if}}
                </li>
                <li class="nav-item active">
                   {{#if products}}  <a class="nav-link" href="http://localhost:3000/products">Termékek</a> {{else}} <a class="nav-link text-dark" href="http://localhost:3000/products">Termékek</a> {{/if}}
                </li>
                <li class="nav-item active">
                    {{#if categories}}  <a class="nav-link" href="http://localhost:3000/categories">Csoportok</a> {{else}} <a class="nav-link text-dark" href="http://localhost:3000/categories">Csoportok</a> {{/if}}
                </li>
            </ul>
        </div>
          {{#if products}}  {{> productTable}} {{/if}}
          {{#if stocks}}  {{> stockTable}} {{/if}}
          {{#if categories}}  {{> catTable}} {{/if}}
    </div>
</div>