<div class="container">
    <div class="row ">
        <div class="col-2 border border-dark text-center"><img src="nottoday.png" style="height: 100px;"
                class="img-rounded mx-auto"></div>
        <div class="col-10 border border-dark text-center align-bottom">
            <h3 class="pt-4">Termékek </h3>
        </div>
    </div>
    <div class="row" style="height: 500px;">
        <div class="col-2 border border-dark">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="http://localhost:4000/stocks">Készletek</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-dark" href="http://localhost:4000/products">Termékek</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-dark" href="#">Csoportok</a>
                </li>
            </ul>
        </div>
        <div class="col-10 border border-dark p-4">
            <table class="table table-bordered text-center">
                <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Megnevezés</th>
                        <th>Csoport</th>
                        <th>Műveletek</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each array}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.grouppi}}</td>
                        <td class="text-center">
                            <button class="btn btn-outline-dark ">Szerkesztés</button>
                            <button class="btn btn-danger">Törlés</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class=" d-flex align-items-end flex-column" style="height: 150px;">
                <div class="mt-auto"><button type="button" data-toggle="modal" data-target="#exampleModal"
                        class="btn btn-primary">Új termék</button></div>
            </div>
        </div>
    </div>
</div>

{{> newmodal}}